.bg-primary-color{
    background-color: #ffff;
}

.bg-secondary-color{
    background-color: #ece8ea;
}

.bg-dark-color{
    background-color: #050505;
}

.primary-color{
    color: #050505;
}

.secondary-color{
    color: #7a7a7a;
}

#navbar{
    border-bottom: 1px solid #7a7a7a;
}

#navbar a:hover{
    color: #7a7a7a;
}

#navbar a.active{
    border-bottom: 1px solid #050505;
}

.navbar-brand img{
    width: 40px;
}

.navbar-brand span{
    font-weight: 700;
    font-size: 1.5em;
    margin-left: .5em;
}

#navbar-items .navbar-nav{
    width: 100%;
}

#navbar-items .nav-item{
    margin: 0 1em;
}

#carouselExampleCaptions{
    margin-top: 5em;
    margin-bottom: 1em;
}

#carouselExampleCaptions .carousel-caption{
    bottom: 2em;
    color: #ffff;
}

#carouselExampleCaptions .carousel-caption p{
    font-size: 1.2em;
    text-shadow: #050505 1px 1px;
}

#carouselExampleCaptions .carousel-caption h5{
    font-size: 2.5em;
    text-shadow: #000 .8px .8px;
}

.carousel-control-prev, .carousel-control-next{
    color: #111;
    font-size: 3em;
}

.carousel-indicators [data-bs-target]{
    background-color: #222;
    opacity: .8;
}

.carousel-indicators .active{
    background-color: #000;
}

#footer{
    padding: 3em 2em;
}

form{
    margin-top: 2em;
    margin-bottom: 2em;
}

form .btn{
    margin-top: 1em;
}

div.video {
    margin-bottom: 2px;
    margin-top: 2px;
    position: relative;
    padding-bottom: 58%;
}

div.video > iframe {
    position: absolute;
    width: 85%;
    height: 85%;
}